{% extends "base.html" %}

{% block content %}
{% if info %}
    <p class="info"> {{ info }}</p>
{% endif %}
<form action="{% url 'send' %}" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input type="submit" value="Wyślij"/></td>
        </tr>
    </table>
</form>
{% endblock %}