{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />
    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}
<div style="width: 940px; margin:0 auto">
    <nav>
        <ul class="nav">
            {% show_menu 0 100 100 100 %}
        </ul>
    </nav>
<div class="content">
{% if 'blog' in request.get_full_path %}
    {% if info %}
        <p class="info"> {{ info }}</p>
    {% endif %}
    <ul class="nav2">
            <li><a href="{% url 'blog' %}">Wszystkie wpisy</a></li>
            <li><a href="{% url 'filtr' %}">Wpisy użytkowników</a></li>
    {% if user.is_authenticated  %}
            <li><a href="{% url 'blog_logout' %}">Wyloguj się</a></li>
            <li><a href="{% url 'add' %}">Dodaj wpis</a></li>
            <li><a href="{% url 'mine' %}">Twoje wpisy</a></li>
    {% else %}
            <li><a href="{% url 'login' %}">Zaloguj się</a></li>
    {% endif %}
    </ul>
    {% if user.is_authenticated %}
        <p><b>Jesteś zalogowany jako:</b> {{ user.username }}</p>
    {% endif %}
{% endif %}

    {% block content %}
    {% endblock content %}
    </div>
</div>
{% render_block "js" %}
</body>
</html>
