{% extends "base.html" %}

{% block content %}
{% if komentarze %}
        {% for komentarz in komentarze %}
            <div class="komentarz">
                <div class="nick">{{ komentarz.author }}</div>
                <div class="msg">{{ komentarz.text }}</div>
            </div>
        {% endfor %}
{% endif %}

<form action="{% url 'add_comment' %}" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input type="submit" value="Dodaj"/></td>
        </tr>
    </table>
</form>
{% endblock %}