{% if komentarze %}
        {% for komentarz in komentarze %}
            <div class="komentarz">
                <div class="nick">{{ komentarz.author }}</div>
                <div class="msg">{{ komentarz.text }}</div>
            </div>
        {% endfor %}
{% endif %}