{% extends "base.html" %}

{% block content %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Zaloguj" />
</form>
{% endblock %}