{% extends "base.html" %}

{% block content %}
{% if wpisy %}
	<h4>Aktualne wpisy:</h4>
    {% for wpis in wpisy %}
        <div class="wpis">
            <div class="author">{{ wpis.author.username}} at {{ wpis.date }}<br/></div>
            <div class="title">{{ wpis.title }}</div>
            <div class="text">{{ wpis.text }}</div>
        </div>
    {% endfor %}
{% else %}
        <h4>Aktualnie brak wpisów</h4>
{% endif %}
{% endblock %}