{% extends "base.html" %}

{% block content %}
        <h3>Wybierz miesiąc:</h3>
    <div class="list">
    {% for m, id in miesiace %}
        <p><a href="{% url 'month' id %}">{{ m }}</a></p>
    {% endfor %}
    </div>
{% endblock %}