{% extends "base.html" %}

{% block content %}
{% if wpisy %}
        <h3>Wpisy użytkownika {{ user_post.username }}:</h3>
        {% for wpis in wpisy %}
        <div class="wpis">
                <div class="author">{{ wpis.author.username}} at {{ wpis.date }}<br/></div>
                <div class="title">{{ wpis.title }}</div>
                <div class="text">{{ wpis.text }}</div>
        </div>
        {% endfor %}
{% else %}
<h3>Brak wpisów dla tego użytkownika</h3>
{% endif %}
{% endblock %}